@charset "UTF-8";

@font-face {
    font-family: 'Alliance';
    src: url(font/Degarism\ Studio\ -\ Alliance\ No.1\ Light.otf) format('opentype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #262625;
    --cor2: #F2F2F2;
    --cor3: #BFBFBF;
    --cor4: #8C8C8C;
    --cor5: #0d0d0d;
}

body {
    margin: auto;
    background-color: var(--cor1);
    font-family: 'Alliance';
    color: white;
}

header {
    max-width: 1200px;
    box-shadow: 0px 5px 7px black;
    margin: auto;
    display: flex;
    height: 70px;
    padding: 10px;
    background-color: var(--cor5);
    justify-content: space-between;
    color: white;
    align-items: center;
}

.menu {
    display: flex;
}

.menu > p, a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.menu > p:hover {
    background-color: #262625;
    font-weight: bold;
}

.logo > img{
    height: 70px;
    padding: 10px;
    border-radius: 45px;
}

section.intr {
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
    height: 80%;
    background-color: var(--cor1);
}

.car {
    color: white;
    height: 75vh;
}
div#carro {
    background-image: url(imagem/carro.gif);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% 50%;
}

.car > h1 {
    padding: 100px 0px 30px 0px;
    font-size: 4em;
    width: 50%;
    text-shadow: 3px 3px 7px black;
    flex-wrap: wrap;
    font-weight: bolder;
}

.car > p {
    padding: 0px 00px;
    font-size: 2em;
    width: 50%;
    text-shadow: 3px 3px 7px black;
    flex-wrap: wrap;
    color: var(--cor3);
}

@media (max-width: 950px) {
    .car > h1 {
        padding: 100px 0px 30px;
        font-size: 3em;
    }
}

@media (max-width: 700px) {
    .car > h1 {
        padding: 100px px 30px;
        font-size: 2em;
    }
}

@media (max-width: 950px) {
    .car > p {
        padding: 0px 0px;
    }
}

@media (max-width: 700px) {
    .car > p {
        padding: 0px 0px;
        font-size: 1.5em;
    }
}

.ser {
    width: 100%;
    height: 150px;
    background-color: white;
    color: black;
}

.ser > h1 {
    max-width: 1200px;
    margin: auto;
    display: block;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
}

.txt1 {
    background-color: white;
    color: black;
}

.txt1 > div > img {
    max-width: 100%;
    display: block;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 30px;
    text-align: center;
}

.flex > div > img {
    width: 300px;
    height: 300px;
}

.txt2 {
    background-color: white;
    color: black;
}

aside.contair {
    width: 100%;
    height: 100vh;
}

aside#foto {
    background-image: url(imagem/carro/1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

aside.foto1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

aside.foto1 > div {
    flex: 1 1 200px;
    text-align: center;
}

aside.foto1 > div > img {
    width: 500px;
    height: 500px;
}

@media (max-width: 600px) {
    aside.foto1 > div > img {
        width: 350px;
        height: 350px;
    }
}

.mapa {
    max-width: 1200px;
    margin: auto;
    height: 50vh;
    margin: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
}

@media (max-width: 700px) {
    section > div > iframe {
        width: 300px;
    }    
}

.inputbox {
    position: relative;
    margin-top: 50px;
}
.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelinput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputuser:focus ~ .labelinput, .inputuser:valid ~ .labelinput {
    top: -20px;
    font-size: 12px;
    color: #bf1a0b;
}
#data_nascimento {
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit {
    background-color: #bf1a0b;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover {
    background-color: #bf1a0bb4;
}

footer {
    
}